<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.api.main.MainMapper">
	
	<select id="selectList" resultType="CamelHashMap">
		/** MainMapper.selectList **/
        select 
			user_srno
			, list_srno
			, list_subject
			, list_content
			, reg_id
			, cast(reg_dt AS Date)
		from  
			sj_community.tb_list
		where 1=1
		and user_srno = CAST (#{userSrno} AS INTEGER)
		and valid_yn = 'Y'
    </select>
	
    
    <insert id="insertList">
    	/** MainMapper.insertList **/
    	<selectKey keyProperty="listSrno" resultType="int" order="BEFORE">
			select 
				coalesce(max(list_srno),0) + 1 
			from sj_community.tb_list a
			where a.user_srno = #{userSrno}
		</selectKey>

    	insert into sj_community.tb_list (
    		user_srno
    		,list_srno
    		,list_subject
    		,list_content
    		,reg_id
    		,reg_dt
    		,valid_yn
    	)
    	values (
    		#{userSrno}
    		,#{listSrno}
    		,#{listSubject}
    		,#{listContent}
    		,#{regId}
    		,to_char(now()::date, 'yyyymmdd')
    		,#{validYn}
    	)
    </insert>
   
	
</mapper>