<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.api.rgt.RGTMapper">
	
	<select id="selectRgt" resultType="CamelHashMap">
		/** RGTMapper.selectRgt **/
        select 
			*
		from  
			rgt_project.tb_rgt
		order by order_id , orderer_name
    </select>
    
    <insert id="insertRgt">
    	/** RGTMapper.insertData **/
    	insert into rgt_project.tb_rgt (
    		order_id
    		,product_name
    		,options
    		,table_no
    		,quantity
    		,order_date
    		,order_time
    		,date_time
    		,robot_status
    		,dong
    		,ho
    		,seq
    		,orderer_name
    	)
    	values (
    		#{order_id}
    		,#{product_name}
    		,#{options}
    		,#{table_no}
    		,#{quantity}
    		,#{order_date}
    		,#{order_time}
    		,#{date_time}
    		,#{robot_status}
    		,#{dong}
    		,#{ho}
    		,#{seq}
    		,#{orderer_name}
    	)
    </insert>
    
    <delete id="deleteRgt">
		/** RGTMapper.deleteRgt **/
		DELETE FROM rgt_project.tb_rgt
		WHERE ctid IN (
			SELECT A.ctid 
			FROM (
				SELECT ctid, ROW_NUMBER() OVER (PARTITION BY tr.order_id  ORDER BY tr.order_id) AS num, *
				FROM rgt_project.tb_rgt tr
			) A
			WHERE A.num > 1
		);
	</delete>
	
	<update id="updateRgt">
		/** RGTMapper.updateRgt **/
		update 
			rgt_project.tb_rgt
		set 
			product_name = '카페라떼'
		where 1=1
		and product_name = '카페테리아'
	</update>
    
	
</mapper>